<div class="career-path-steps">
	{{#each steps}}
		<a href="#admin" class="step-link">
			<div class="circle">
				Admin
			</div>
			<div class="step"></div>
		</a>
		<a href="#" class="step-link">
			<div class="circle">
				Admin
			</div>
			<div class="step"></div>
		</a>
		<a href="#" class="step-link">
			<div class="circle">
				Admin
			</div>
			<div class="step"></div>
		</a>
	{{each}}
</div>

