<div class="career-path-steps">
	{{#each steps}}
		<a href="#admin" class="step-link" style="margin-bottom: {{@index}}px;">
			<div 
				class="circle" 
				style="background: radial-gradient(circle at bottom left, {{startColor}}, {{endColor}});"
			>
				{{label}}
			</div>
			<div class="step"></div>
		</a>
	{{/each}}
</div>

